aficio2060.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RichoAficio2060"
	targetNamespace="http://fsmi.uni-karlsruhe.de/aficio2060.wsdl"
	xmlns:af="http://fsmi.uni-karlsruhe.de/aficio2060.wsdl"
	xmlns:ud="http://www.ricoh.co.jp/xmlns/soap/rdh/udirectory"
	xmlns:dm="http://www.ricoh.co.jp/xmlns/soap/rdh/devicemanagement"
	xmlns:rc="http://www.ricoh.co.jp/xmlns/soap/rdh/common"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<wsdl:types>
		<xs:schema targetNamespace="http://www.ricoh.co.jp/xmlns/soap/rdh/devicemanagement">
			<xs:element name="getObject">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sessionId" type="xs:integer" />
						<xs:element name="deviceId" type="xs:integer"/>
						<xs:element name="objectId" type="xs:integer"/>
						<xs:element name="fieldList">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getObjectCapability">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sessionId" type="xs:integer" />
						<xs:element name="deviceId" type="xs:integer"/>
						<xs:element name="objectId" type="xs:integer"/>
						<xs:element name="option" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getObjectCapabilityResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="name" type="xs:string"></xs:element>
									<xs:element name="class" type="xs:string"></xs:element>
									<xs:element name="description" type="xs:string"></xs:element>
									<xs:element name="fieldList">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="name" type="xs:string"></xs:element>
															<xs:element name="value" type="xs:string"></xs:element>
															<xs:element name="type" type="xs:string"></xs:element>
															<xs:element name="description" type="xs:string"></xs:element>
															<xs:element name="rangeType" type="xs:string"></xs:element>
															<xs:element name="min" type="xs:string"></xs:element>
															<xs:element name="max" type="xs:string"></xs:element>
															<xs:element name="valueStep" type="xs:string"></xs:element>
															<xs:element name="valueEnum">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="item" type="xs:string"></xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="unique" type="xs:boolean"></xs:element>
															<xs:element name="multiple" type="xs:boolean"></xs:element>
															<xs:element name="required" type="xs:boolean"></xs:element>
															<xs:element name="readable" type="xs:boolean"></xs:element>
															<xs:element name="writeable" type="xs:boolean"></xs:element>
															<xs:element name="hidden" type="xs:boolean"></xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="operationList">
										<xs:complexType />
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getObjectResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="name" type="xs:integer" />
									<xs:element name="class" type="xs:string" />
									<xs:element name="oid" type="xs:integer" />
									<xs:element name="fieldList">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="name" type="xs:string" />
															<xs:element name="value" type="xs:string" />
															<xs:element name="type" type="xs:string" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getObjects">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sessionId" type="xs:integer"></xs:element>
						<xs:element name="deviceId" type="xs:integer"></xs:element>
						<xs:element name="objectClass" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getObjectsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:integer"></xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getProtocolVersion">
				<xs:complexType/>
			</xs:element>
			<xs:element name="getProtocolVersionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue" type="xs:integer"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="lockDevice">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sessionId" type="xs:integer"></xs:element>
						<xs:element name="deviceId" type="xs:integer"/>
						<xs:element name="validDurationHint" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="lockDeviceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="startSession">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="stringIn" type="xs:string"/>
						<xs:element name="timeLimit" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="startSessionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue" type="xs:string"></xs:element>
						<xs:element name="stringOut" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="terminateSession">
				<xs:complexType>
					<xs:all>
						<xs:element name="sessionId" type="xs:integer"></xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="terminateSessionResponse">
				<xs:complexType>
					<xs:all>
						<xs:element name="returnValue" type="xs:string"></xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="unlockDevice">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sessionId" type="xs:integer"></xs:element>
						<xs:element name="deviceId" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="unlockDeviceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateObject">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sessionId" type="xs:integer"></xs:element>
						<xs:element name="deviceId" type="xs:integer"/>
						<xs:element name="object">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="name" type="xs:integer" />
									<xs:element name="class" type="xs:string" />
									<xs:element name="oid" type="xs:integer" />
									<xs:element name="fieldList">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="name" type="xs:string" />
															<xs:element name="value" type="xs:string" />
															<xs:element name="type" type="xs:string" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="options">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="propName" type="xs:string"></xs:element>
												<xs:element name="propVal" type="xs:string"></xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateObjectResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue" type="xs:string"></xs:element>
						<xs:element name="objectId" type="xs:integer"/>
						<xs:element name="postProcess">
							<xs:complexType />
						</xs:element>
						<xs:element name="truncatedParameter">
							<xs:complexType />
						</xs:element>
						<xs:element name="failedPropertyIndex" type="xs:integer"/>
						<xs:element name="failedCode" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema targetNamespace="http://www.ricoh.co.jp/xmlns/soap/rdh/udirectory">
			<xs:element name="getProtocolVersion">
				<xs:complexType/>
			</xs:element>
			<xs:element name="getProtocolVersionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue" type="xs:integer"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getServiceState">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sessionId" type="xs:integer"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getServiceStateResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue" type="xs:string"></xs:element>
						<xs:element name="currentDateTime" type="xs:dateTime"/>
						<xs:element name="otherStates">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="propName" type="xs:string"></xs:element>
												<xs:element name="propVal" type="xs:string"></xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getServiceVersion">
				<xs:complexType/>
			</xs:element>
			<xs:element name="getServiceVersionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="propName" type="xs:string"></xs:element>
												<xs:element name="propVal" type="xs:string"></xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSessionProps">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sessionId" type="xs:string" />
						<xs:element name="selectProps">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" minOccurs="1" maxOccurs="unbounded" type="xs:string"></xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="options">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="propName" type="xs:string"></xs:element>
												<xs:element name="propVal" type="xs:string"></xs:element>
											</xs:sequence>
										</xs:complexType> 
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSessionPropsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="item">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="propName" type="xs:string"></xs:element>
									<xs:element name="propVal" type="xs:string"></xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="putObjectProps">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sessionId" type="xs:string" />
						<xs:element name="objectId" type="xs:string"/>
						<xs:element name="propListList">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="propName" type="xs:string" />
												<xs:element name="propVal" type="xs:string" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="options">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="propName" type="xs:string"></xs:element>
												<xs:element name="propVal" type="xs:string"></xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="putObjectPropsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="putObjects">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sessionId" type="xs:string" />
						<xs:element name="objectClass" type="xs:string" />
						<xs:element name="parentObjectId" type="xs:string" />
						<xs:element name="propListList">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" maxOccurs="unbounded" minOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="item" minOccurs="1" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="propName" type="xs:string" />
															<xs:element name="propVal" type="xs:string" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="options">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="propName" type="xs:string"></xs:element>
												<xs:element name="propVal" type="xs:string"></xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="putObjectsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" type="xs:string"></xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="startSession">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="stringIn" type="xs:string"/>
						<xs:element name="timeLimit" type="xs:integer"/>
						<xs:element name="lockMode" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="startSessionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue" type="xs:string"></xs:element>
						<xs:element name="stringOut" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="terminateSession">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sessionId" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="terminateSessionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getObjectsProps">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sessionId" type="xs:integer"></xs:element>
						<xs:element name="objectIdList">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"></xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="selectProps">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"></xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="options">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="propName" type="xs:string"></xs:element>
												<xs:element name="propVal" type="xs:string"></xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getObjectsPropsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnValue">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="propName" type="xs:string"></xs:element>
															<xs:element name="propVal" type="xs:string"></xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="UserDirectoryStartSessionRequest">
		<wsdl:part name="body" element="ud:startSession"/>
	</wsdl:message>
	<wsdl:message name="UserDirectoryStartSessionResponse">
		<wsdl:part name="body" element="ud:startSessionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectoryGetSessionPropsRequest">
		<wsdl:part name="body" element="ud:getSessionProps" />
	</wsdl:message>
	<wsdl:message name="UserDirectoryGetSessionPropsResponse">
		<wsdl:part name="body" element="ud:getSessionPropsResponse" />
	</wsdl:message>
	<wsdl:message name="UserDirectoryTerminateSessionRequest">
		<wsdl:part name="body" element="ud:terminateSession"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectoryTerminateSessionResponse">
		<wsdl:part name="body" element="ud:terminateSessionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectoryGetProtocolVersionRequest">
		<wsdl:part name="body" element="ud:getProtocolVersion"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectoryGetProtocolVersionResponse">
		<wsdl:part name="body" element="ud:getProtocolVersionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectorygetServiceVersionRequest">
		<wsdl:part name="body" element="ud:getServiceVersion"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectorygetServiceVersionResponse">
		<wsdl:part name="body" element="ud:getServiceVersionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectorygetServiceStateRequest">
		<wsdl:part name="body" element="ud:getServiceState"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectorygetServiceStateResponse">
		<wsdl:part name="body" element="ud:getServiceStateResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectoryPutObjectPropsRequest">
		<wsdl:part name="body" element="ud:putObjectProps"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectoryPutObjectPropsResponse">
		<wsdl:part name="body" element="ud:putObjectPropsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectoryPutObjectsRequest">
		<wsdl:part name="body" element="ud:putObjects"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectoryPutObjectsResponse">
		<wsdl:part name="body" element="ud:putObjectsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectoryGetObjectsPropsRequest">
		<wsdl:part name="body" element="ud:getObjectsProps"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDirectoryGetObjectsPropsResponse">
		<wsdl:part name="body" element="ud:getObjectsPropsResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="DeviceManagementStartSessionRequest">
		<wsdl:part name="body" element="dm:startSession"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementStartSessionResponse">
		<wsdl:part name="body" element="dm:startSessionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementTerminateSessionRequest">
		<wsdl:part name="body" element="dm:terminateSession"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementTerminateSessionResponse">
		<wsdl:part name="body" element="dm:terminateSessionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementGetProtocolVersionRequest">
		<wsdl:part name="body" element="dm:getProtocolVersion"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementGetProtocolVersionResponse">
		<wsdl:part name="body" element="dm:getProtocolVersionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementLockDeviceRequest">
		<wsdl:part name="body" element="dm:lockDevice"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementLockDeviceResponse">
		<wsdl:part name="body" element="dm:lockDeviceResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementUnlockDeviceRequest">
		<wsdl:part name="body" element="dm:unlockDevice"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementUnlockDeviceResponse">
		<wsdl:part name="body" element="dm:unlockDeviceResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementGetObjectRequest">
		<wsdl:part name="body" element="dm:getObject"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementGetObjectResponse">
		<wsdl:part name="body" element="dm:getObjectResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementGetObjectCapabilityRequest">
		<wsdl:part name="body" element="dm:getObjectCapability"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementGetObjectCapabilityResponse">
		<wsdl:part name="body" element="dm:getObjectCapabilityResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementGetObjectsRequest">
		<wsdl:part name="body" element="dm:getObjects"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementGetObjectsResponse">
		<wsdl:part name="body" element="dm:getObjectsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementUpdateObjectRequest">
		<wsdl:part name="body" element="dm:updateObject"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeviceManagementUpdateObjectResponse">
		<wsdl:part name="body" element="dm:updateObjectResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="UserDirectoryPortType">
		<wsdl:operation name="StartSession">
			<wsdl:input message="af:UserDirectoryStartSessionRequest"></wsdl:input>
			<wsdl:output message="af:UserDirectoryStartSessionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSessionProps">
			<wsdl:input message="af:UserDirectoryGetSessionPropsRequest"></wsdl:input>
			<wsdl:output message="af:UserDirectoryGetSessionPropsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TerminateSession">
			<wsdl:input message="af:UserDirectoryTerminateSessionRequest"></wsdl:input>
			<wsdl:output message="af:UserDirectoryTerminateSessionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetProtocolVersion">
			<wsdl:input message="af:UserDirectoryGetProtocolVersionRequest"></wsdl:input>
			<wsdl:output message="af:UserDirectoryGetProtocolVersionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServiceVersion">
			<wsdl:input message="af:UserDirectorygetServiceVersionRequest"></wsdl:input>
			<wsdl:output message="af:UserDirectorygetServiceVersionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServiceState">
			<wsdl:input message="af:UserDirectorygetServiceStateRequest"></wsdl:input>
			<wsdl:output message="af:UserDirectorygetServiceStateResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PutObjectProps">
			<wsdl:input message="af:UserDirectoryPutObjectPropsRequest"></wsdl:input>
			<wsdl:output message="af:UserDirectoryPutObjectPropsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PutObjects">
			<wsdl:input message="af:UserDirectoryPutObjectsRequest"></wsdl:input>
			<wsdl:output message="af:UserDirectoryPutObjectsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetObjectsProps">
			<wsdl:input message="af:UserDirectoryGetObjectsPropsRequest"></wsdl:input>
			<wsdl:output message="af:UserDirectoryGetObjectsPropsResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name="DeviceManagementPortType">
		<wsdl:operation name="StartSession">
			<wsdl:input message="af:DeviceManagementStartSessionRequest"></wsdl:input>
			<wsdl:output message="af:DeviceManagementStartSessionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TerminateSession">
			<wsdl:input message="af:DeviceManagementTerminateSessionRequest"></wsdl:input>
			<wsdl:output message="af:DeviceManagementTerminateSessionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetProtocolVersion">
			<wsdl:input message="af:DeviceManagementGetProtocolVersionRequest"></wsdl:input>
			<wsdl:output message="af:DeviceManagementGetProtocolVersionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LockDevice">
			<wsdl:input message="af:DeviceManagementLockDeviceRequest"></wsdl:input>
			<wsdl:output message="af:DeviceManagementLockDeviceResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UnlockDevice">
			<wsdl:input message="af:DeviceManagementUnlockDeviceRequest"></wsdl:input>
			<wsdl:output message="af:DeviceManagementUnlockDeviceResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetObject">
			<wsdl:input message="af:DeviceManagementGetObjectRequest"></wsdl:input>
			<wsdl:output message="af:DeviceManagementGetObjectResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetObjectCapability">
			<wsdl:input message="af:DeviceManagementGetObjectCapabilityRequest"></wsdl:input>
			<wsdl:output message="af:DeviceManagementGetObjectCapabilityResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetObjects">
			<wsdl:input message="af:DeviceManagementGetObjectsRequest"></wsdl:input>
			<wsdl:output message="af:DeviceManagementGetObjectsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateObject">
			<wsdl:input message="af:DeviceManagementUpdateObjectRequest"></wsdl:input>
			<wsdl:output message="af:DeviceManagementUpdateObjectResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="UserDirectorySoapBinding" type="af:UserDirectoryPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="StartSession">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/udirectory#startSession"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSessionProps">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/udirectory#getSessionProps"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TerminateSession">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/udirectory#terminateSession"/>
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetProtocolVersion">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/udirectory#getProtocolVersion"/>
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServiceVersion">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/udirectory#getServiceVersion"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServiceState">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/udirectory#getServiceState"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PutObjectProps">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/udirectory#putObjectProps"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PutObjects">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/udirectory#putObjects"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetObjectsProps">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/udirectory#getObjectsProps"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="DeviceManagementSoapBinding" type="af:DeviceManagementPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="StartSession">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/devicemanagement#startSession"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TerminateSession">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/devicemanagement#terminateSession"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetProtocolVersion">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/devicemanagement#getProtocolVersion"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LockDevice">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/devicemanagement#lockDevice"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UnlockDevice">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/devicemanagement#unlockDevice"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetObject">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/devicemanagement#getObject"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetObjectCapability">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/devicemanagement#getObjectCapability"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetObjects">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/devicemanagement#getObjects"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateObject">
			<soap:operation soapAction="http://www.ricoh.co.jp/xmlns/soap/rdh/devicemanagement#updateObject"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="UserDirectoryService">
		<wsdl:documentation>User directory service for Aficio 2060</wsdl:documentation>
		<wsdl:port name="UserDirectoryPort" binding="af:UserDirectorySoapBinding">
			<soap:address location="http://fsi-pr2/DH/udirectory" />
		</wsdl:port>
	</wsdl:service>
	
	<wsdl:service name="DeviceManagementService">
		<wsdl:documentation>Device management service for Aficio 2060</wsdl:documentation>
		<wsdl:port name="DeviceManagementPort" binding="af:DeviceManagementSoapBinding">
			<soap:address location="http://fsi-pr2/DH/devicemanagement"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
